body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#swans {
    position: absolute;
    top: 10%;
    /* 上方留出10%的空间 */
    left: 2%;
    /* 左侧稍微偏移，避免遮挡 */
    display: flex;
    flex-direction: column;
    /* 垂直排列 */
    justify-content: space-between;
    /* 等间距排列 */
    height: 70%;
}

.swan {
    position: relative;
    width: 6vw;
    /* 默认天鹅宽度，适合桌面设备 */
}

.swan img {
    width: 100%;
    height: auto;
}

.name {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    font-weight: bold;
    color: black;
}

#countdown {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#success img {
    max-width: 70%;
    height: auto;
    max-height: 70%;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#startButton {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}


/* 为手机竖屏设备应用限制 */

@media (max-width: 600px) and (orientation: portrait) {
    .swan {
        width: 15vw;
        /* 在竖屏设备上使用稍小的宽度 */
        max-width: 80px;
        /* 限制最大宽度 */
    }
}


/* 横屏设备限制，减少间距并缩小高度 */

@media (max-width: 600px) and (orientation: landscape) {
    #swans {
        height: 50%;
        gap: 1%;
    }
    .swan {
        width: 6vw;
        max-width: 50px;
    }
}